.search-for-event {
  padding: 30px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 3px 1px lightgray;
  margin-bottom: 20px;
}
.search-for-event__input {
  width: 88%;
  margin-right: 10px;
  padding: 5px;
  border-radius: 3px;
  box-shadow: inset 0 0 1px 1px lightgray;
  border: 1px solid lightgray;
}
.search-for-event__button {
  border: 1px solid #666666;
  width: 10%;
  font-size: 15px;
  font-weight: bold;
  color: white;
  padding: 7px;
  border-radius: 3px;
  background-color: #0285f6;
}
@media only screen and (max-width: 1200px) {
  .search-for-event__input {
    width: 78%;
  }
  .search-for-event__button {
    width: 20%;
  }
}
@media only screen and (max-width: 992px) {
  .search-for-event__input {
    width: 68%;
  }
  .search-for-event__button {
    width: 29%;
  }
}
@media only screen and (max-width: 490px) {
  .search-for-event__input {
    width: 100%;
    margin-bottom: 5px;
  }
  .search-for-event__button {
    width: 100%;
  }
}
.event__card {
  box-shadow: 0 0 8px 1px lightgray;
  margin-bottom: 20px;
}
.event__card:hover {
  transition: all 0.3s ease;
  box-shadow: 0 0 8px 3px lightgray;
}
.event__card__info {
  padding: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;
}
.event__card__info-photo {
  width: 55px;
  height: 55px;
  border: 2px solid white;
  border-radius: 50%;
  float: left;
  margin-right: 10px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.event__card__info-username {
  color: white;
}
.event__card__info-username:after {
  content: '';
  display: block;
  clear: both;
}
.event__card__info-username h5 {
  line-height: 50px;
  letter-spacing: -1.4px;
}
.event__card__info-about {
  margin-top: 15%;
  padding: 0 10px;
  color: white;
}
.event__card__info-about-distance {
  letter-spacing: -1px;
  font-size: 15px;
}
.event__card__actions:before,
.event__card__actions:after {
  content: '';
  display: block;
  clear: both;
}
.event__card__actions__action {
  text-align: center;
  margin: 20px 0;
}
.event__card__actions__action i {
  color: #666666;
}
.event__card__actions__action i:hover {
  cursor: pointer;
  color: black;
  transition: all 0.3s ease;
}
body {
  background-color: #f2f2f2;
  min-width: 320px;
}
.header {
  padding: 10px;
  font-family: 'Pacifico', cursive;
  background-color: #fff;
  margin-bottom: 20px;
  box-shadow: 0 0 3px 1px lightgray;
}
.header__main:hover,
.header__create:hover,
.header__main:active,
.header__create:active,
.header__main:focus,
.header__create:focus {
  text-decoration: none;
}
.header__main {
  float: left;
}
.header__create {
  float: right;
  padding: 4px 10px;
  margin-top: 10px;
}
.event-details {
  background-color: #fff;
  margin-top: 20px;
  border-radius: 5px;
  padding: 30px;
}
.event-details:after {
  content: '';
  display: block;
  clear: both;
}
.event-details__photo {
  height: 400px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px;
}
.event-details__author {
  margin-top: 20px;
}
.event-details__author__photo {
  width: 90px;
  height: 90px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 0 3px 1px black;
  border-radius: 50%;
  float: left;
  margin-right: 10px;
}
.event-details__author__name h4 {
  line-height: 40px;
  margin-bottom: 0;
}
.event-details__author__message {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 5px;
  min-height: 90px;
}
.event-details__card__actions {
  margin-top: 10px;
}
.event-details__card__actions__action {
  text-align: center;
  margin: 20px 0;
  margin: 0;
}
.event-details__card__actions__action i {
  color: #666666;
}
.event-details__card__actions__action i:hover {
  cursor: pointer;
  color: black;
  transition: all 0.3s ease;
}
.new-event__photo-preview {
  margin-top: 20px;
  height: 250px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.event__tags {
  margin: 4px 4px 0 0;
}
.event__tags__remove-button {
  cursor: pointer;
}
