<header class="header">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <a [routerLink] = "['']"
           class="header__main">
          <h1>MicroEvents</h1>
        </a>
        <a [routerLink] = "['/create']"
           class="header__create">Create</a>
      </div>
    </div>
  </div>
</header>
<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</section>