<div class="col-md-6">
  <div class="form-group">
    <input type="text"
           placeholder="Event title"
           [(ngModel)]="newEvent.title"
           class="form-control">
  </div>
  <div class="form-group">
    <input type="text"
           placeholder="Event description"
           [(ngModel)]="newEvent.description"
           class="form-control">
  </div>
  <div class="form-group">
    <input type="date"
           placeholder="Choose event date"
           [(ngModel)]="newEvent.eventDate"
           class="form-control">
  </div>
  <div class="form-group">
    <input type="text"
           placeholder="Enter event location"
           [(ngModel)]="newEvent.address"
           class="form-control">
  </div>
  <div class="form-group">
    <input type="text"
           placeholder="Enter tags"
           [(ngModel)]="tagName"
           (keydown)="addTag($event)"
           class="form-control">
    <span class="label label-pill label-success"
          *ngFor="let tag of newEvent.tags let i = index">
      {{tag}}
      <span class="fa fa-times"
            (click)="removeTag(i)">
      </span>
    </span>
  </div>
</div>
<div class="col-md-6">
  <div class="form-group">
    <input type="text"
           placeholder="Enter event photo url"
           [(ngModel)]="newEvent.picture"
           class="form-control">
    <div class="new-event__photo-preview"
         *ngIf="newEvent.picture.length"
         [ngStyle]="{'background-image': 'url(' + newEvent.picture + ')'}">
    </div>       
  </div>
</div>
<div class="col-sm-12">
  <button class="btn btn-primary btn-block"
          (click)="createEvent()"
          [disabled]="!newEvent.title || !newEvent.picture">
    Create Event
  </button>
</div>