<div class="search-for-event">
  <div class="row">
    <div class="col-md-12">
      <input class="search-for-event__input"  
             type="text" 
             placeholder="eg. Beer, Cocktail, Coffee, Berlin, London"
             [(ngModel)]="searchQuery">
      <button class="search-for-event__button"
              (click)="searchEvent()">
        Find Event!
      </button>
    </div>
  </div>
</div>

<div class="col-md-4"
     *ngFor="let event of events">
  <div class="event__card">
    <div class="event__card__info"
         (click)="getDetails(event)"
         [ngStyle]="{'background-image': 'url(' + event.picture + ')'}">
      <div class="event__card__info-photo"
           [ngStyle]="{'background-image': 'url(' + event.creator.photo + ')'}">
      </div>
      <div class="event__card__info-username">
        <h5>{{event.creator.name}} {{event.creator.surname}}, 
            {{event.creator.age}}
        </h5>
      </div>
      <div class="event__card__info-about">
        <span class="event__card__info-about-distance">
          <i class="fa fa-map-marker"></i>
          {{event.distance}} km
        </span>
        <h3>
          {{event.title}}
        </h3>
        <span>
          {{event.description}}
        </span>
      </div>
    </div>
    <div class="event__card__actions">
      <div class="col-xs-4 event__card__actions__action">
        <i class="fa fa-heart"
           (click)="toggleLike(event.id)"
           [ngClass]="{'text-danger': event.liked}" 
           aria-hidden="true"></i>
      </div>
      <div class="col-xs-4 event__card__actions__action">
        <i class="fa fa-comments" 
           aria-hidden="true"></i>
      </div>
      <div class="col-xs-4 event__card__actions__action">
        <i class="fa fa-share-alt" 
           aria-hidden="true"></i>
      </div>
    </div>
  </div>
</div>